<html>
    <% include ../basics/head %>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <% include ../basics/header %>

        <!-- Create client side script for selecting answers -->
        <script>
            // answer[<question number>] = 'A'|'B'| ...
            var answers = {};

            var selectAnswer = function(question, answer) {
                answers[question] = answer;

                $('.answer-' + question).removeClass('selected');
                $('#radio-' + question + '-' + answer).addClass('selected');
            }

            var postAnswers = function() {
                // Check if all questions have been filled in.
                let questionKeys = [<%= Object.keys(questions) %>];
                for (var q in questionKeys) {
                    if (!(questionKeys[q] in answers)) {
                        // There is an answer yet unanswered.

                        console.log("no answer: " + questionKeys[q]);
                        //return;
                    }
                }
                console.log(answers);
                window.location.href = '/result?' + $.param(answers);

            }
        </script>
        <div class="container">
            <% questionKeys.forEach(function(key) {%>
                <div class="panel">
                    <!-- Show title -->
                    <h3 class="title">
                            <%= key %>. <%= questions[key].description%>
                    </h3>
                    <div>
                        <!-- Show the different possible answers -->
                        <% Object.keys(questions[key].answers).forEach(function(answer) {%>
                            <div class="column test-answer answer-<%= key%>" id="radio-<%= key%>-<%= answer%>" onclick="selectAnswer(<%= key%>, '<%= answer%>')">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="kerk-radio">
                                            <h6><%= answer%></h6>
                                            <label><%= questions[key].answers[answer].text%></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%});%>
                        <!-- End answers-->
                    </div>
                </div>
            <% });%>
            <a href="javascript:void(0);">
                <button  class="button is-success is-medium is-fullwidth" onclick="postAnswers()">Vraag resultaat op</button>
            </a>
        </div>

        <% include ../basics/footer %>

    </body>
</html>