<!-- requires questionId: number -->
<!-- requires question -->
<!-- requires questionStatus: [{id:number, selected:bool}] -->
<html>
    <% include ../basics/head %>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script>
            var selectAnswer = function(answer) {
                $('.answer').removeClass('selected');
                $('#radio-' + answer).addClass('selected');

                $.post('/test/<%= questionId %>/' + answer);
            };
        </script>
    <% include ../basics/header %>
        <section class="hero is-fullheight">
        <div class="container answer-section">
            <div class="card">
                <div class="card-header is-centered" id="header">
                    <h1 class="card-header-title is-centered title"><%= questionId %>. <%= question.description %></h1>
                </div>
                <div class="card-content"  style="min-height: 50%;">
                    <% Object.keys(question.answers).forEach(answer => {%>
                        <div class="answer is-bordered box is-flex <%= (questionStatus[eval(questionId + '-1')].selected == answer) ? 'selected' : ''  %>" id="radio-<%= answer %>" onclick="selectAnswer('<%= answer %>')">
                            <div class="is-1" style="margin-right: 1em;">
                                <h1 class="title"><%= answer %></h1>
                            </div>
                            <div class="is-11">
                                <span class="is-text subtitle" style="padding: 1em;"><%= question.answers[answer].text %></span>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="card-footer">
                    <% if(questionId == 1) {%>
                    <% } else { %>
                        <div class="card-footer-item is-paddingless">
                            <a href="/test/<%= eval('-1+' + questionId)%>" style="width: 100%;"><button class="button is-fullwidth is-large">Vorige vraag</button></a>
                        </div>
                    <% } %>
                    <% if (questionId == questionStatus.length) {%>
                        <div class="card-footer-item is-paddingless">
                            <a href="/result/" style="width: 100%;%;"><button class="button is-success is-fullwidth is-large">Submit</button></a>
                        </div>
                    <% } else { %>
                        <div class="card-footer-item is-paddingless">
                            <a href="/test/<%= eval('1+' + questionId)%>" style="width: 100%;"><button class="button is-success is-fullwidth is-large">Volgende vraag</button></a>
                        </div>
                    <% } %>
                </div>

            </div>
            <div id="question-status">
                <% questionStatus.forEach(status => {%>
                <div class="status" style="width: 2em;">
                    <a href="/test/<%= status.id%>">
                        <% if (status.id == questionId) {%>
                        <button class="button is-warning is-fullwidth"><%= status.id%></button>
                        <% } else {%>
                        <% if (status.selected) {%>
                        <button class="button is-success is-fullwidth"><%= status.id %></button>
                        <% } else {%>
                        <button class="button is-fullwidth"><%= status.id %></button>
                        <% }%>
                        <% } %>
                    </a>
                </div>
                <%}); %>
            </div>
        </div>
        </section>
        <% include ../basics/footer %>

    </body>
</html>